*{
  border: 1px solid black;
}

.calculator-container{
  width: 400px;
  height: 500px;
  margin: 50px auto;
}

#screen{
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 50px;
}

.reset{
  margin-left: 75%;
}
